extension="MP4" "/Videos/SD Card Dump/{year}/{month}/{day}"

path contains "PANORAMA" "Photos/SD Card Dump/Panorama/{year}/{month}/{day}"
    extension="html" "html"

    extension="JPG" "test"
    extension="DNG" "test"
        any "PANORAMA/{path[-2]}"

extension="DNG" "test"
extension="JPG" "test"
    any "Photos/SD Card Dump/RAW/{year}/{month}/{day}"